# ================================
#   .gitignore pour projet Python
# ================================

# Byte-compiled / Optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environments
.venv/

# Coverage reports
.coverage
htmlcov/
coverage.xml

# Distribution / Packaging
build/
dist/
*.egg-info/

# Hypothesis testing
.hypothesis/

# Divers
*.txt
